<%= form_for(resource, as: resource_name, url: registration_path(resource_name, type: params[:type]), onsubmit: "return checkForm(this);", html: {method: :put,class:"ss-form", remote: true}) do |f| %>

  <div class="modal-body font-14">
    <div class="form-group floating-label">
      <%= f.password_field :current_password, class: "ss-input form-control input-lg", placeholder: "Confirm current password", required: true %>
      <!--<label for="user_current_password" class="field-label">Current password</label>-->

      <% if resource.try(:errors).messages[:current_password].present? %>
        <span class='ss-devise-error-text text-danger'>Current password <%= resource.try(:errors).messages[:current_password].first %> </span>
      <% end %>

    </div>

    <div class="form-group floating-label ">
      <%= f.password_field :password, autocomplete: "off", class: "ss-input form-control m-b-sm input-lg", placeholder: "New Password", title: "Passwords must have upper and lower case letters, at least 1 number, and be at least 8 characters long.", pattern: "(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}", id: "ss-progress-bar", required: true %>

      <% if resource.try(:errors).messages[:password].present? %>
        <span class='ss-devise-error-text text-danger pull-left'>Password <%= resource.try(:errors).messages[:password].first %> </span>
      <% end %>
    </div>

    <div class="form-group floating-label">
      <input type="checkbox" onchange="document.getElementById('ss-progress-bar').type = this.checked ? 'text' : 'password'" id='show_password'>
      Show password
    </div>

    <div class="m-b-sm" style="font-size: 11px;">Passwords must have upper and lower case letters, at least 1 number,
      and be at least 8 characters long.
    </div>

    <div class="form-group floating-label">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "New Password Confirmation", class: "ss-input form-control input-lg", pattern: "(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}", title: "Please enter the same Password as above", onchange: "this.setCustomValidity(this.validity.patternMismatch ? this.title : '');", required: true %>

      <% if resource.try(:errors).messages[:password_confirmation].present? %>
        <span class='ss-devise-error-text text-danger pull-left'>Password confirmation <%= resource.try(:errors).messages[:password_confirmation].first %> </span>
      <% end %>
    </div>
  </div>

  <div class="modal-footer font-14">
    <%= f.submit "SAVE CHANGES", class: "btn btn-info btn-outline pull-right" %>
  </div>


<% end %>

<script>
  $(document).ready(function(){
      setIcheckOnInputs();
      $("body").on("ifChanged", "#show_password", function () {
          document.getElementById('ss-progress-bar').type = this.checked ? 'text' : 'password'
      });
  })
</script>